<% layout('layout') -%>
<div class="alert alert-success">
  <h4 class="alert-heading">Booking Received</h4>
  <p>Thank you! We will contact you to confirm your appointment.</p>
  <a href="/" class="btn btn-success">Back to Home</a>
</div>
